
@use './NavigationComponent.sass';
@use './TalkingComputerProjectPage.sass';
@use './PasswordGeneratorProjectPage.sass';
@use './DigitalCalculatorProjectPage.sass';
@use './QR-Code-Generator-Page.sass';
@use './NewYearsCountdownProjectPage.sass';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
}
